@model Library_MVC.Models.BookModel

@{
	ViewData["Title"] = "Delete Book";
}

<h1>Удалить книгу</h1>

<h4>Вы уверены, что хотите удалить данную книгу?</h4>
<hr />
<div>
	<h4><strong>Название:</strong> @Model.Title</h4>
	<div>
		<strong>Автор:</strong> @Model.Author<br />
		<strong>Год публикаци:</strong> @Model.PublishedYear
	</div>
</div>

<form asp-action="DeleteConfirmed" method="post">
	<input type="hidden" asp-for="Id" />
	<div class="form-group">
		<input type="submit" value="Удалить" class="btn btn-danger" />
		<a asp-action="Index" class="btn btn-secondary">Отмена</a>
	</div>
</form>
